include ../format-pack/format-pack

mixin format()
	+b.format
		.container
			.format__heading
				.format__title
					h3 ВЫБЕРИТЕ УДОБНЫЙ ФОРМАТ ОБУЧЕНИЯ

				.format__about
					h4 
						|Программист Python создаёт быстрые и безопасные
						|сайты на одном из популярнейшихязыков программирования (он в 5

			-
				var packs = [
					{
						title: 'Стандарт',
						subtitle: 'мини текст должен быть тут',
						videos: [
							'Из чего состоит кейс (структура), критерии успешного кейса',
							'Страхи: я не смогу заработать, мои работы никому не понравятся, я облажаюсь. Как раз и навсегда их побороть',
							'Публикация, продвижение кейса и переупаковка его для других соцсетей. Нюансы и лайфхаки.'
						],
						other: [
							'8 домашних заданий',
							'Чат участников марафона',
							'Файлы и помощь наставника!',
							'Самостоятельное прохождение',
						],
						price: 5000,
						placesLeft: 6,
					},
					{
						title: 'Продвинутый',
						subtitle: 'мини текст должен быть тут',
						videos: [
							'Из чего состоит кейс (структура), критерии успешного кейса',
							'Страхи: я не смогу заработать, мои работы никому не понравятся, я облажаюсь. Как раз и навсегда их побороть',
							'Публикация, продвижение кейса и переупаковка его для других соцсетей. Нюансы и лайфхаки.'
						],
						other: [
							'8 домашних заданий',
							'Чат участников марафона',
							'3 разбора в формате live + проверка всех домашних заданий тренером',
							'Файлы и помощь наставника!',
							'Самостоятельное прохождение',
							'Полноценный индивидуальный план развития на будущее с учётом всех твоих слабых сторон'
						],
						price: 8000,
						placesLeft: 6,
					},
				]

			.format__main
				+format-pack(packs[0], true, false)
				+format-pack(packs[1], false, true)