mixin schedule-item(index)
	+b.schedule-item
		img(src="assets/images/schedule-"+(index+1)+".png", alt="" id="schedule-image-"+(index+1))
		p(id="schedule-paragraph-"+(index+1))
			| Усвоите алгоритм создания успешных 
			| кейсов, которые будут приносить 
			| клиентов
